<div class="container">
    <h1>Password Assistance</h1>
    <p>Enter the email address associated with your POC account.</p>
    <form #forgetPasswordForm="ngForm" (ngSubmit)="authenticationService.forgetPassword(forgetPasswordForm)">
        <input type="email" appNoSpaceValidator email class="form-control" [(ngModel)]="email" name="txtEmail" #txtEmail="ngModel" placeholder="example@abc.com" required>
        <div [hidden]="txtEmail.valid || txtEmail.pristine" class="alert alert-danger">
            Email is required
        </div>
        <div [hidden]="!txtEmail.errors || txtEmail.pristine" class="alert alert-danger">
            Email should be in proper format like 'example@abc.com'
        </div>
        <div [hidden]="!txtEmail.errors?.cannotContainSpace || txtEmail.pristine" class="alert alert-danger">
            Email can not contain any space
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!forgetPasswordForm.form.valid">Continue</button>
        <button class="btn btn-danger" [routerLink] = "['/auth/login']">Cancel</button>
    </form>
</div>