.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    h1 {
        font-size: 35px;
    }
    
    p {
        text-align: justify;
        font-size: 15px;
    }

    input {
        margin: 20px 0px;
        height: 50px;
        padding-left: 25px;
    } input:focus {
        outline: none !important;
        box-shadow: 0 0 10px 2px #719ECE;
    }

    .btn-success {
        width: 70%;
        margin-right: 5%;
    }
    
    .btn-danger {
        width: 25%;
    }
}