<div class="container">
    <h1>Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="authenticationService.loginWithEmailAndPassword(loginForm)">
        <input type="email" appNoSpaceValidator email class="form-control" [(ngModel)]="email" name="txtEmail" #txtEmail="ngModel" placeholder="example@abc.com" required>
        <div [hidden]="txtEmail.valid || txtEmail.pristine" class="alert alert-danger">
            Email is required
        </div>
        <div [hidden]="!txtEmail.errors || txtEmail.pristine" class="alert alert-danger">
            Email should be in proper format like 'example@abc.com'
        </div>
        <div [hidden]="!txtEmail.errors?.cannotContainSpace || txtEmail.pristine" class="alert alert-danger">
            Email can not contain any space
        </div>
        
        <input type="password" appNoSpaceValidator class="form-control" [(ngModel)]="password" name="txtPassword" #txtPassword="ngModel" placeholder="Password" required>
        <button class="forgotPassword" (click)="navigateToForgotPassword()">Forgot Password</button>
        <div [hidden]="txtPassword.valid || txtPassword.pristine" class="alert alert-danger">
            Password is required
        </div>
        <div [hidden]="!txtPassword.errors?.cannotContainSpace || txtPassword.pristine" class="alert alert-danger">
            Password can not contain any space
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
    </form>
    <p>Don't have an account? <button (click)="navigateToSignUp()">Click here</button> to create one</p>
    <hr>
    <p>Login with social platforms</p>
    <div class="social-media-icons">
        <i class="fa fa-facebook-f"></i>
        <i class="fa fa-google"></i>
        <i class="fa fa-twitter"></i>
    </div>
</div>